@import 'bower_components/breakpoint-sass/stylesheets/breakpoint';

$sm: 425px;
$md: 768px;
$lg: 1100px;
$xl: 1440px;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body, body > .ember-view {
  display: flex;
  flex: 1 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em;

  @include breakpoint($sm) {
    max-width: $sm;
  }

  @include breakpoint($md) {
    max-width: $md;
  }

  @include breakpoint($lg) {
    max-width: $lg;
  }

  @include breakpoint($xl) {
    max-width: $xl;
  }
}
