{{#liquid-wormhole to=name}}
<div class="{{cssScope}}">
  <div class="modal">
    <div class="modal-backdrop" {{action (action 'dismiss')}}></div>
    <div class="modal-dialog">
      {{yield}}
    </div>
  </div>
</div>
{{/liquid-wormhole}}
