<h2 class="question">
  What's all this about now?
</h2>
<div class="answer">
  <p>
    Hipster Ember is a somewhat tongue-in-cheek resource to help you discover the
    latest and greatest best practices for building Ember apps without staying
    glued to every Ember Slack channel 24/7.
  </p>
</div>

<h2 class="question">
  So I should drop everything and refactor, right?
</h2>
<div class="answer">
  <p>
    No. Take a deep breath. Relax.
  </p>
  <p>
    Think of these tips as good ideas when you start your next greenfield app.
    But the recommendations here are forward looking (so they may change) and
    do not indicate that alternative approaches are unsupported or deprecated
    (yet).
  </p>
  <p>
    Ember tries really hard to provide clean upgrade paths. Don’t live on the
    bleeding edge 24/7 to avoid some hypothetical refactor in 6 months.
  </p>
  <p>
    <strong>tl;dr: Controllers are okay.</strong>
  </p>
</div>
