& {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1em;
}

.number {
  align-self: flex-end;
  color: #aaa;
  font-size: 0.9em;
}

.title {
  margin-bottom: 2em;
  font-size: 1.5em;
}

.reported-by {
  margin-top: auto;
  margin-bottom: 0.25em;
  color: #aaa;
  font-size: 0.9em;
}

.confirmations {
  margin-bottom: 1em;
  color: #aaa;
  font-size: 0.9em;
}

.voting {
  display: flex;
  border-top: 1px solid #aaa;
  background-color: #f7f7f7;
  font-size: 1.3em;
}

.vote-up,
.vote-down {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &:hover {
    background-color: darken(#f7f7f7, 10%);
    cursor: pointer;
  }
}

.vote-up {
  border-right: 1px solid #aaa;
}

.thumbs-up,
.thumbs-down {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}


