<div class="header">
  <div class="avatar"><img src="{{comment.author.avatar}}"></div>
  <span class="username">@{{comment.author.username}}</span>
  {{#if canEdit}}
    <div class="controls">
      <button type="button" class="delete-btn" {{action (action 'delete')}}>Delete Comment</button>
    </div>
  {{/if}}
</div>
<div class="text">
  {{comment.text}}
</div>
