& {
  $border: #ddd;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 1px solid $border;
  border-right-color: darken($border, 7%);
  border-bottom-color: darken($border, 13%);
  border-left-color: darken($border, 7%);
  border-radius: 3px;
  background-color: $white;

  &.show-details {
    .title {
      margin-bottom: 0;
      font-size: 1.2em;
    }
  }
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1em;
}

.header {
  display: flex;
  align-items: center;
}

.status {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  color: $white;
  font-size: 0.9em;
  font-weight: 600;

  &.pending {
    background-color: #c7c700;
  }

  &.rejected {
    background-color: #de1b1b;
  }
}

.number {
  align-self: flex-end;
  margin-left: auto;
  color: #aaa;
  font-size: 0.9em;
}

.title {
  margin-bottom: 2em;
  font-size: 1.5em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.description {
  margin: 1em 0 2em;
  font-size: 1.6em;
  line-height: 1.5;
}

.meta {
  display: flex;
  margin-top: auto;
}

.reported-by {
  margin-bottom: 0.25em;
  color: #aaa;
  font-size: 0.9em;
}

.comment-count {
  margin-left: auto;
  color: #aaa;
  font-size: 0.9em;
}

.voting {
  display: flex;
  border-top: 1px solid darken(#f7f7f7, 10%);
  border-radius: 0 0 3px 3px;
  background-color: #f7f7f7;
  font-size: 1.3em;
}

.vote-up,
.vote-down {
  display: flex;
  flex: 0 0 50%;
  align-items: center;
  justify-content: center;
  padding: 1em;

  &:hover {
    background-color: darken(#f7f7f7, 10%);
    cursor: pointer;
  }
}

.vote-up {
  border-right: 1px solid darken(#f7f7f7, 10%);
}

.vote-up.active {
  background-color: $success;
}

.vote-down.active {
  background-color: $danger;
}

.thumbs-up,
.thumbs-down {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
