& {
  display: flex;
  margin-top: 15vh;
}

.tips-list {
  display: flex;

  > .liquid-child {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
}

.welcome {
  flex: 1 0 50%;
  padding: 0 1em 2em 1em;
}

.welcome-tile {
  padding: 2em;
  border-radius: 3px;
  background-color: #e26350;
  color: #fff;
}

.headline {
  margin: 0.5em 0;
  font-family: 'Pacifico';
  font-size: 3em;
  line-height: 1;

  @include breakpoint($lg) {
    font-size: 4.3em;
  }
}

.subhead {
  margin-bottom: 0.25em;
  font-weight: 400;
}

.summary {
  font-size: 0.9em;
}

.errata-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.errata-group {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;

  &:first-child {
    flex-grow: 0;
  }
}

.errata-link {
  display: block;
  padding: 0.5em;
  color: #e26350;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: darken(#e26350, 10%);
    text-decoration: underline;
  }

  &.login {
    margin-left: auto;
  }

  &.active {
    font-weight: 600;
  }
}

.errata-divider {
  display: none;
  padding: 0.5em;
  color: lighten(#e26350, 20%);

  @include breakpoint($lg) {
    display: block;
  }
}

.logged-in {
  margin-left: auto;
  padding: 0.5em;
}

.username {
  font-weight: 600;
}

.tip-item {
  display: flex;
  flex: 0 1 100%;
  padding: 0 1em 2em 1em;

  @include breakpoint($md) {
    flex-basis: 50%;
  }

  @include breakpoint($lg) {
    flex-basis: 25%;
  }
}
