<div class="welcome">
  <div class="welcome-tile">
    <h1 class="headline">hipster ember</h1>
    <h2 class="subhead">
      A website with tips for building <strong>artisanal, grass-fed</strong>
      web applications.
    </h2>
    <small class="summary">
      Now serving {{tips.length}} organic, cruelty free tips from only
      the finest locally sourced Emberinos.
    </small>
  </div>
  <div class="errata-links">
    {{#link-to 'about' class='errata-link'}}about{{/link-to}}
    {{#link-to 'imprint' class='errata-link'}}imprint{{/link-to}}
    {{#link-to 'submit' class='errata-link'}}submit a tip{{/link-to}}
    {{#link-to 'login' class='errata-link login'}}login{{/link-to}}
  </div>
</div>

{{#each tips as |tip|}}
  <div class='tip-item'>
    {{ui/tip-card tip=tip}}
  </div>
{{/each}}
